body{
    background-color: #1a1a1a;
    color: #dbdbdb;
    height: 100vh;
}

button{
    border-style: none;
    margin: 0.25em;
    border-radius: 8px;
    padding: 0.5em;
    color:#1a1a1a;
    background-color: #99ff99;
}

#addTopic{
    border-style: none;
    margin: 0.25em;
    border-radius: 8px;
    padding: 0.5em;
    color:#1a1a1a;
    background-color: #99ff99;
}

main{
    height:100vh;
}

#addButton{
    background-color: #363636;
}

.gifDiv{
    background-color: #363636;
    border-radius: 4px;
}